@keyframes blink {
  0% {
    stroke: #282828;
  }

  50% {
    stroke: #181818;
  }

  100% {
    stroke: #282828;
  }
}

body {
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: white;
}

circle {
  stroke: black;
}

.showLabel-false circle {
  stroke: transparent;
  opacity: 0.75;
}

line {
  stroke: #282828;
  stroke-width: 2px;
}

.showLabel-true line {
  animation: blink 4000ms infinite;
}

.showLabel-false line {
  stroke-width: 1px;
  stroke: transparent;
  /* stroke: #222; */
}

text {
  user-select: none;
  fill: #888;
  font-size: 11px;
  font-weight: bold;
  font-weight: normal;
  text-shadow: 0px 1px black;
  -webkit-text-stroke: 1px black;
  transform: translate(0.5%, 0.5%);
}

.stage-0 text {
  font-size: 21px;
}
.stage-1 text {
  font-size: 19px;
}
.stage-2 text {
  font-size: 17px;
}
.stage-3 text {
  font-size: 15px;
}
.stage-4 text {
  font-size: 13px;
}
.stage-5 text {
  font-size: 11px;
}

div.description {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4rem 8rem;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #888;
}

h1.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: normal;
  font-size: 19px;
  color: #888;
  line-height: 180%;
}
